BOT_TOKEN=your_telegram_bot_token_here
ADMIN_IDS=8743868685
BEP20_ADDRESS=your_bep20_wallet_address_here
TRC20_ADDRESS=your_trc20_wallet_address_here
ERC20_ADDRESS=your_erc20_wallet_address_here
DATABASE_URL=your_neon_connection_string_here
